.Abadomenu{
    display: inline-block;
    width: 120px;
    height: 40px;
    margin: 5px;
    background-color: brown;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
  }
  .Barra{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90px;
  }
  body{
    background-color: brown;
  }